<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>new_EDT</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AfficheEDT</display-name>
    <servlet-name>AfficheEDT</servlet-name>
    <servlet-class>affiche_edt.AfficheEDT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheEDT</servlet-name>
    <url-pattern>/AfficheEDT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCours</display-name>
    <servlet-name>AddCours</servlet-name>
    <servlet-class>addcours.AddCours</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCours</servlet-name>
    <url-pattern>/AddCours</url-pattern>
  </servlet-mapping>
</web-app>